nav {
  align-items: center; /*Aligns logo vertically in navbar*/
  background-color: white; /* Optional background color */
  display: flex;
  width: fit-content;
  height: 80px;
  border-radius: 20px;
  margin: 100 0;
}

nav img {
  max-width: 200px; /* Adjust to your desired maximum width */
  max-height: 100px; /* Adjust to your desired maximum height */
  line-height: 0px;
}

nav a {
  text-decoration: none;
  margin: 0 10px;
}

nav h3 {
  line-height: 0px;
}

/*Navigation Bar Style*/

form {
  border: 4px solid #ccc;
  margin: 0 500px;
  width: 300px;
  padding: 20px;
  background-color: #e1eee2f1;
  border-radius: 20px;
}

/*Search bar Style*/
#search-bar {
  width: 200px;
  padding: 5px;
  border: 1px solid #ccc;
}

#search-button {
  padding: 5px 10px;
  background-color: #ddd;
  border: 1px solid #ccc;
  cursor: pointer;
}
/*Search bar Style*/
/* cove page  */
body {
  background-image: url("../Material/OfficialBackground.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: left top;
  font-size: 1.5em;
  /* padding-top: 60px; */
}

/*Navigation Bar Style*/

/*Navigation Bar Style*/

/*Username bar Style*/
#username-bar {
  width: 200px;
  padding: 5px;
  border: 1px solid #ccc;
}
/*Username bar Style*/

/*Password bar Style*/
#password-bar {
  width: 200px;
  padding: 5px;
  border: 1px solid #ccc;
}
/*Password bar Style*/

/*Submit button Style*/
#submit-button {
  padding: 5px 10px;
  background-color: #ddd;
  border: 1px solid #ccc;
  cursor: pointer;
}
h3 {
  display: inline-block;
  margin-right: 50px;
}

/*Navigation Bar Style*/

/* Table style */
table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid;
}
/* table header style */
th {
  padding: 8px;
  text-align: left;
  border: 1px solid;
  text-align: center;
  background-color: #0a0a0a;
  color: white;
}
/* table data cells style  */
td {
  padding: 8px;
  border: 1px solid;
  text-align: center;
}

* {
  font-family: "Pacifico", cursive;
  padding-left: 2px;
  color: white;
}
