h3 {
  display: inline-block;
  margin-right: 50px;
}
nav {
  margin-right: 50px;
  background-color: white;
}
/*Navigation Bar Style*/

/*Search bar Style*/
#search-bar {
  width: 200px;
  padding: 5px;
  border: 1px solid #ccc;
}

#search-button {
  padding: 5px 10px;
  background-color: #ddd;
  border: 1px solid #ccc;
  cursor: pointer;
}
/*Search bar Style*/
/* cove page  */
body {
  background-image: url("../Data/Photos/cover.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  /* padding-top: 60px; */
}

/*Navigation Bar Style*/
h3 {
  display: inline-block;
  margin-right: 50px;
}
/*Navigation Bar Style*/

/*Username bar Style*/
#username-bar {
  width: 200px;
  padding: 5px;
  border: 1px solid #ccc;
}
/*Username bar Style*/

/*Password bar Style*/
#password-bar {
  width: 200px;
  padding: 5px;
  border: 1px solid #ccc;
}
/*Password bar Style*/

/*Submit button Style*/
#submit-button {
  padding: 5px 10px;
  background-color: #ddd;
  border: 1px solid #ccc;
  cursor: pointer;
}
h3 {
  display: inline-block;
  margin-right: 50px;
}

/*Navigation Bar Style*/

/* Table style */
table {
  width: 50%;
  border-collapse: collapse;
}
/* table header style */
th {
  padding: 8px;
  text-align: left;
}
/* table data cells style  */
td {
  padding: 8px;
}