nav {
  align-items: center; /*Aligns logo vertically in navbar*/
  background-color: white; /* Optional background color */
  display: flex;
  width: fit-content;
  height: 80px;
  border-radius: 20px;
  margin: 100 0;
}

nav img {
  max-width: 200px; /* Adjust to your desired maximum width */
  max-height: 100px; /* Adjust to your desired maximum height */
  line-height: 0px;
}

nav a {
  text-decoration: none;
  margin: 0 10px;
}

nav h3 a {
  line-height: 0px;
  color: black;
}

/*Navigation Bar Style*/

form {
  border: 4px solid #ccc;
  padding: 20px;
  border-radius: 20px;
  margin: auto;
  width: 25%;
  padding: 10px;
}

/*Search bar Style*/
#search-bar {
  width: 200px;
  padding: 5px;
  border: 1px solid #ccc;
}

/*Search bar Style*/
/* cove page  */
body {
  background-image: url("../Material/OfficialBackground.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: left top;
  font-size: 1.5em;
  /* padding-top: 60px; */
}

/*Username bar Style*/
#username-bar {
  width: 200px;
  padding: 5px;
  border: 1px solid #ccc;
}
/*Username bar Style*/

/*Password bar Style*/
#password-bar {
  width: 200px;
  padding: 5px;
  border: 1px solid #ccc;
}
/* Password bar Style */

/* buttons Style */

/* #search-button {
  padding: 5px 10px;
  background-color: #ddd;
  border: 1px solid #ccc;
  cursor: pointer;
} */
button {
  padding: 5px 10px;
  background-color: black;
  border: 1px solid #ccc;
  cursor: pointer;
}

/* textarea */
textarea {
  width: 80%;
  background-color: white;
  color: black;
  font-size: large;
  padding: 16px 32px;
  margin: 4px 2px;
}

/* input style */
input {
  background-color: white;
  color: black;
  font-size: large;
  padding: 16px 32px;
  margin: 4px 2px;
}

h3 {
  display: inline-block;
  margin-right: 50px;
}

/* Table style */
table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid;
}
/* table header style */
th {
  padding: 8px;
  text-align: left;
  border: 1px solid;
  text-align: center;
  background-color: white;
  color: black;
}
/* table data cells style  */
td {
  padding: 8px;
  border: 1px solid;
  text-align: center;
}

* {
  font-family: "Pacifico", cursive;
  padding-left: 2px;
  color: white;
}

/* *:not(nav) {
  color: black;
} */
